[submodule "GL/glfw"]
	path = GL/glfw
	url = https://github.com/glfw/glfw.git
[submodule "GL/glm"]
	path = GL/glm
	url = https://github.com/g-truc/glm.git
[submodule "GL/assimp"]
	path = GL/assimp
	url = https://github.com/assimp/assimp.git
[submodule "GL/lodepng"]
	path = GL/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "GL/json"]
	path = GL/json
	url = https://github.com/nlohmann/json.git
[submodule "GL/imgui"]
	path = GL/imgui
	url = https://github.com/ocornut/imgui.git
